body{
	font-family: Helvetica, Arial, Sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: "Times New Roman";
}
h2{
	text-decoration: underline;
}
.hero-unit{
	background: url(fonts/bckgrnd.png) no-repeat 50% top;
	background-size: 100% 100%;
	padding-bottom: 20px;
	margin-left: 0px;
	padding-left: 0px;
}
.hero-unit-wap{
	background: #eee;
	background-size: 100% 100%;
	padding-bottom: 20px;
	margin-left: 0px;
	padding-left: 0px;
}
.inner{
	background: url(fonts/contactus-banner.jpg) no-repeat 50% top;
	background-size: 100% 100%;
	padding-bottom: 20px;
	margin-left: 0px;
	padding-left: 0px;
	padding-bottom: 200px;
}
.hero-unit .container{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%
}
.hero-unit-wap .container{
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%
}

.navbar-inner{
	margin-left: 0px;
}
.navbar-default{
	padding-left: 30px;
	padding-right: 0;
	padding-top: 5px;
	padding-bottom: 10px;
	margin-top: 0px;
	background: #003f66;
	box-shadow: none;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	z-index: 9999;
	position:fixed;
	top:0;
	width:100%;
}
.navbar .nav > li > a{
	font-family: "Arial";
	font-size: 18px;
	color: #fff;
	background: #003f66;
}
.navbar-default .navbar-nav > .active > a {
	background-color: #003f66;	
	color: #99ccff;
	height: 45px;
	border-bottom: 3px solid rgb(255, 255, 255);
}
.navbar-default .navbar-nav > .active > a:hover {
	background-color: #003f66;
}
.navbar-default .navbar-nav > a:hover, .navbar-default .navbar-nav > a:focus{
	box-shodow: none;
	background: #66c2ff;
}

/** end **/

/** hero-unit-inner begins **/

.hero-unit-inner{
	color: #333;
	text-shadow: none;
	margin-left: 0px;
	padding-top: 5px;
	padding-bottom: 100px;
}
.hero-unit-inner-inner{
	text-shadow: 1px 1px 0 hsl(204, 100%, 70%);
}
.hero-unit-inner .inner{
	margin-left: 50px;
}
.hero-unit-inner > h3{
	font-size: 20px;
}
span.inner{
	margin-left: 0px;
}
.cntr{
	background-color: #fff;
	margin-left: 300px;
	margin-right: 300px;
	border-radius: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
}
input,textarea,select{
	border-radius: 5px;
	padding: 10px 30px;
	margin-left: 100px;
}
.box{
	background: #ccebff;
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgb(102, 196, 255);
	padding: 20px;
	margin-right: 40px;
	margin-top: 50px;
}
.box-wap{
	background: #fff;
	border-radius: 0px;
	box-shadow: 3px 3px 0 rgb(240,240,240);
	padding: 20px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.underline{
	border-top: 1px solid rgba(200,200,200,0.8);
}
.space{
	background-color: #fff;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 5px;
	border-radius: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 200px;
}
** end **/

/** about-us begins **/

#about-us{
	padding-bottom: 20px;
	font-size: 20px;
}
#about-us h2{
	padding-top: 30px;
}

/** end **/

/** goals begins **/

#goals{
	background: #fff;
	border-bottom: 5px solid rgb(0, 77, 128);
	padding-bottom: 30px;
}
#goals .container{
	margin-left: 0px;
	margin-right: 0px;
	width: 100%
}
#goals h2{
	border-top: 3px solid rgb(102, 196, 255);
	padding-top: 30px;
}
.tabs{
	background: #ccebff;
	background-size: 100% 100%;
	padding: 20px;
	box-shadow: 3px 3px 0 rgb(102, 196, 255);
}
.row{
	position: relative;
}

/** end **/

/** initiative begins **/

#initiative{
	background: #66c2ff;
	padding-bottom: 30px;
	border-bottom: 3px solid rgb(0, 77, 128);
}
#initiative h2{
	
	padding-top: 30px;
}
.stat{
	padding-bottom: 30px;
}

/** end **/

/** contact begins **/

#contact{
	background: url(fonts/bckgrnd.png) no-repeat 50% top;
	background-size: 100% 100%;
	padding-top: 20px;
	padding-bottom: 30px;
}
#contact h2{
	padding-bottom: 30px;
}

/** end **/

/** footer begins **/

#footer{
	background: #003f66;
	padding-top: 10px;
	color: #fff;
	padding-bottom: 10px;
}
#footer h4{
	color: #aaaaaa;
}

/** end **/
